src/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <!-- Simple Types -->
        <xs:simpleType name="layout">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="wrap" />
                        <xs:enumeration value="wrap-reverse" />
                        <xs:enumeration value="horizontal" />
                        <xs:enumeration value="horizontal-reverse" />
                        <xs:enumeration value="vertical" />
                        <xs:enumeration value="vertical-reverse" />
                </xs:restriction>
        </xs:simpleType>

        <xs:simpleType name="fillType">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="solid" />
                        <xs:enumeration value="none" />
                </xs:restriction>
        </xs:simpleType>

        <xs:simpleType name="align">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="start" />
                        <xs:enumeration value="center" />
                        <xs:enumeration value="end" />
                </xs:restriction>
        </xs:simpleType>

        <xs:simpleType name="orientation">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="vertical" />
                        <xs:enumeration value="horizontal" />
                </xs:restriction>
        </xs:simpleType>

        <xs:simpleType name="anchor">
                <xs:restriction base="xs:string">
                        <xs:enumeration value="left" />
                        <xs:enumeration value="top" />
                        <xs:enumeration value="right" />
                        <xs:enumeration value="bottom" />
                        <xs:enumeration value="topLeft" />
                        <xs:enumeration value="topRight" />
                        <xs:enumeration value="bottomLeft" />
                        <xs:enumeration value="bottomRight" />
                        <xs:enumeration value="topCenter" />
                        <xs:enumeration value="bottomCenter" />
                        <xs:enumeration value="leftCenter" />
                        <xs:enumeration value="rightCenter" />
                        <xs:enumeration value="fill" />
                        <xs:enumeration value="center" />
                </xs:restriction>
        </xs:simpleType>

        <!-- Attributes -->
        <xs:complexType name="NodeAttr">
                <xs:sequence>
                        <xs:any
                                processContents="lax"
                                namespace="##any"
                                minOccurs="0"
                                maxOccurs="unbounded"
                                />
                </xs:sequence>
                <xs:attribute
                        name="id"
                        type="xs:string"
                        />
                <xs:attribute
                        name="size"
                        type="xs:decimal"
                        />
                <xs:attribute
                        name="width"
                        type="xs:decimal"
                        />
                <xs:attribute
                        name="height"
                        type="xs:decimal"
                        />
        </xs:complexType>

        <xs:complexType name="BoxAttr">
                <xs:complexContent>
                        <xs:extension base="NodeAttr">
                                <xs:attribute
                                        name="origin"
                                        type="xs:decimal"
                                        />
                                <xs:attribute
                                        name="originX"
                                        type="xs:decimal"
                                        />
                                <xs:attribute
                                        name="originY"
                                        type="xs:decimal"
                                        />
                                <xs:attribute
                                        name="x"
                                        type="xs:decimal"
                                        />
                                <xs:attribute
                                        name="y"
                                        type="xs:decimal"
                                        />
                                <xs:attribute
                                        name="margin"
                                        type="xs:decimal"
                                        />
                                <xs:attribute
                                        name="marginLeft"
                                        type="xs:decimal"
                                        />
                                <xs:attribute
                                        name="marginTop"
                                        type="xs:decimal"
                                        />
                                <xs:attribute
                                        name="marginRight"
                                        type="xs:decimal"
                                        />
                                <xs:attribute
                                        name="marginBottom"
                                        type="xs:decimal"
                                        />
                                <xs:attribute
                                        name="padding"
                                        type="xs:decimal"
                                        />
                                <xs:attribute
                                        name="paddingLeft"
                                        type="xs:decimal"
                                        />
                                <xs:attribute
                                        name="paddingTop"
                                        type="xs:decimal"
                                        />
                                <xs:attribute
                                        name="paddingRight"
                                        type="xs:decimal"
                                        />
                                <xs:attribute
                                        name="paddingBottom"
                                        type="xs:decimal"
                                        />
                                <xs:attribute
                                        name="anchor"
                                        type="anchor"
                                        />
                                <xs:attribute
                                        name="anchorLeft"
                                        type="xs:decimal"
                                        />
                                <xs:attribute
                                        name="anchorTop"
                                        type="xs:decimal"
                                        />
                                <xs:attribute
                                        name="anchorRight"
                                        type="xs:decimal"
                                        />
                                <xs:attribute
                                        name="anchorBottom"
                                        type="xs:decimal"
                                        />
                                <xs:attribute
                                        name="layout"
                                        type="layout"
                                        />
                                <xs:attribute
                                        name="alignH"
                                        type="align"
                                        />
                                <xs:attribute
                                        name="alignV"
                                        type="align"
                                        />
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>

        <xs:complexType name="ContainerAttr">
                <xs:complexContent>
                        <xs:extension base="BoxAttr">
                                <xs:attribute
                                        name="clip"
                                        type="xs:boolean"
                                        />
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>

        <xs:complexType name="SurfaceAttr">
                <xs:complexContent>
                        <xs:extension base="BoxAttr">
                                <xs:attribute
                                        name="clip"
                                        type="xs:boolean"
                                        />
                                <xs:attribute
                                        name="fillColor"
                                        type="xs:string"
                                        />
                                <xs:attribute
                                        name="fillType"
                                        type="fillType"
                                        />
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>

        <xs:complexType name="ElementAttr">
                <xs:complexContent>
                        <xs:extension base="SurfaceAttr" />
                </xs:complexContent>
        </xs:complexType>

        <xs:complexType name="BlockAttr">
                <xs:complexContent>
                        <xs:extension base="SurfaceAttr">
                                <xs:attribute
                                        name="reverse"
                                        type="xs:boolean"
                                        />
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>

        <xs:complexType name="RowColAttr">
                <xs:complexContent>
                        <xs:extension base="SurfaceAttr" />
                </xs:complexContent>
        </xs:complexType>

        <!-- Elements -->

        <xs:element
                name="Element"
                type="ElementAttr"
                />

        <xs:element
                name="Container"
                type="ContainerAttr"
                />

        <xs:element
                name="Row"
                type="RowColAttr"
                />

        <xs:element
                name="Column"
                type="RowColAttr"
                />

        <!-- Document -->
        <xs:element name="Document">
                <xs:complexType>
                        <xs:complexContent>
                                <xs:extension base="NodeAttr">
                                        <xs:sequence>
                                                <xs:any
                                                        processContents="lax"
                                                        namespace="##any"
                                                        minOccurs="0"
                                                        maxOccurs="unbounded"
                                                        />
                                        </xs:sequence>
                                        <xs:attribute
                                                name="container"
                                                type="xs:string"
                                                />
                                        <xs:attribute
                                                name="resizeTo"
                                                type="xs:string"
                                                />
                                        <xs:attribute
                                                name="theme"
                                                type="xs:string"
                                                />
                                        <xs:attribute
                                                name="deferInit"
                                                type="xs:boolean"
                                                />
                                        <xs:attribute
                                                name="debug"
                                                type="xs:boolean"
                                                />
                                        <xs:attribute
                                                name="sharp"
                                                type="xs:boolean"
                                                />
                                </xs:extension>

                        </xs:complexContent>
                </xs:complexType>

        </xs:element>
</xs:schema>